/* Base style */
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffffff;
}

.text-container {
    padding: 20px;
}

/* red text */
.red-text {
    color: #e74c3c;
}

/* blue text */
.blue-text {
    color: #3498db;
}

h1, .site-title {
    display: none;
}