<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
				<!-- <li><a href="{{ '/about' | relative_url }}">About</a></li> -->
                <li class="dropdown">
					<a href="#" class="dropbtn">Notes</a>
					<div class="dropdown-content">
						<a href="{{ '/pages/notes/colors.md' | relative_url }}">colors</a>
						<a href="{{ '/pages/notes/git.md' | relative_url }}">git</a>
						<a href="{{ '/pages/notes/k8s.md' | relative_url }}">k8s</a>
						<a href="{{ '/pages/notes/docker.md' | relative_url }}">docker</a>
					</div>
				</li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>
</html>
